<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h2>Objectives:</h2>
<ul>
<li>Data scientists popular languages</li>
<li>Data scientists commonly used libraries </li>
 <li>Data science tools</li>
<li>Data science tools</li>
</ul>

Some of the commonly used libraries used by Data Scientists include:

<ol>
<li>python</li>
<li>R</li>
<li>SQL</li>
<li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
<li>Numpy</li>
<li>Pandas</li>
<li>Seaborn</li>
</ol>

Data Science Tools

<table>
    <tr>
        <td font-weight:bold >Data science tools</td>
    </tr>
      <tr>
        <td font-weight:bold >___________________</td>
      </tr>
     <tr>
        <td>Apachespark</td>
    </tr>
    <tr>
        <td>Apachehadoop</td>
    </tr>
    <tr>
        <td>Knime
</td>
    </tr>
 
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [11]:
# This a simple arithmetic expression to multiply 
(3*4)+5

17

In [12]:
hours= 0
mins= 200

hours= mins/60
#hours= 200/60
print (hours)

3.3333333333333335

<h2>Author</h2>

Alaa Elghndour